.cabezera{
  width: 100%;
  background-color: white;
  z-index: 100;
  padding:20px;
}
.cabezera__flex{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

}
.cabezera__image{
  height: 30px;
}
